{{> head}}

{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Antonio Joaquín</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque placeat, eligendi reiciendis inventore praesentium laudantium fugit atque? Tempore laborum est ratione natus minima commodi in veritatis porro necessitatibus. A, illo?
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/0.png" class="img-thumbnail">
    </div>
</div>

{{> footer}}